<button>Increment and Show Number</button>

<script>
  var theNumber = 0;
  function incrementNumber(){
    //Write your JavaScript code here
    
    
    
  }
  // function decrementNumber(){
  //   //Write your JavaScript code here
    
    
    
  // }


  document.getElementsByTagName("button")[0].addEventListener('click', function(){
    incrementNumber();
    
    alert("theNumber is currently: "+theNumber);
    console.log("theNumber is currently: ",theNumber);
  });
</script>
